/* Global Styles */
body {
    background: linear-gradient(to bottom, #fff, #000);
    font-family: 'Poppins', sans-serif;
    color: #343a40;
    overflow-x: hidden;
    animation: fadeIn 1s;
    /* Fade-in effect */
    scroll-behavior: smooth;
    /* Smooth scrolling */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.navbar {
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: background 0.3s;
}

.navbar.scrolled {
    background: rgba(0, 0, 0, 1);
    /* Change navbar background on scroll */
}

.navbar-brand {
    font-weight: bold;
    color: #fff;
    font-size: 1.7rem;
    transition: color 0.3s;
}

.navbar-nav .nav-link {
    color: #fff !important;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #ffc107 !important;
}

.hero-section h1 {
    font-size: 3.5rem;
    margin-bottom: 15px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    animation: slideInDown 3s;
    /* Slide in effect */
}

@keyframes slideInDown {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.hero-section p {
    font-size: 1.3rem;
    margin-bottom: 30px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    animation: fadeInUp 3s;
    /* Fade-in effect */
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.hero-section .btn {
    font-size: 1.2rem;
    padding: 12px 35px;
    border-radius: 30px;
    transition: transform 0.3s, background-color 0.3s;
}

.hero-section .btn:hover {
    transform: scale(1.05);
    /* Scale up on hover */
    background-color: #4a44c2;
}


.container {
    margin-top: 60px;
}

h2 {
    font-weight: 600;
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
}

.card {
    border: none;
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.card img {
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.btn-primary {
    background-color: #6c63ff;
    border-color: #6c63ff;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #4a44c2;
    border-color: #4a44c2;
    transform: scale(1.05);
    /* Scale up on hover */
}

.footer {
    background-color: #212529;
    padding: 40px 0;
    color: #fff;
}

.footer a {
    color: #ffc107;
    text-decoration: none;
    margin-right: 15px;
    font-size: 1.3rem;
    transition: color 0.3s;
}

.footer a:hover {
    text-decoration: underline;
    color: #fff;
    /* Change color on hover */
}

@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 2.5rem;
    }
}

#recommendationTitle {
    color: #555;
}